// imports
// @use './';
@use './text.scss';
@use './colors.scss' as colors;
@use './border.scss';
@use './blog.scss';

// basics
body {
    background-color: black;
}
html, body {
    padding: 0;
    margin: 0;

    overflow: hidden;

    color: white;
    font-family: "Pixelify Sans", sans-serif;

    background-size: cover;
    background-repeat: no-repeat;
}

// the main object
main {
  position: absolute;

  width: 100vw;
  height: 100vh;
  
  background-color: rgba(colors.$mainColor, 0.35);
  backdrop-filter: blur(13px);

  content {
    position: relative;
    display: block;

    overflow: hidden;
    overflow-y: scroll;

    width: 75vw;
    height: 80vh;

    top: 10vh;

    margin: auto;
  }
}

#footnote {
  position: absolute;
  display: block;

  bottom: 7.5vh;

  width: 100vw;

  text-align: center;
  text-decoration: underline;
}

#headnote {
  position: absolute;
  display: flex;

  top: 2.5vh;
  z-index: 1;

  width: 100vw;

  justify-content: center;

  text-align: center;


}

hr {
  width: 25vw;
  min-width: 200px;

  margin: 0;
  text-shadow: 0 0 15px 0;
}