// imports
// @use './';

// basics
html, body {
    padding: 0;
    margin: 0;

    overflow: hidden;

    color: white;
    font-family: "Pixelify Sans", sans-serif;

    background-color: black;
}

// the main object
main {}

// text
p, li, ul, h1, h2, h3, h4, h5, h6, a {

}

// animations
@keyframes open {
  0%   {
    height: 0%;
  }
  100% {
    height: 100%;
}
}