---
// components
import Layout from '../Layouts/astro/main.astro';

import InfoBox from '../Comp/infoBox.astro';
---

<Layout title='home' desc='hi'>
    <InfoBox title="About Me ● Posted 4:58AM">
        <p> > hi </p>
        <p> > what do you have to say about it </p>
        <p> > fuck you </p>
    </InfoBox>
</Layout>